/*     padding: 1rem 1.9rem; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* utilities */
.container {
  max-width: 900px;
  margin: 0 auto;
}
.brand_logo {
  color: #d35122;
}

/* header section style */

#header {
  background: #333d49;
  color: white;
  padding-top: 2rem;
  border-bottom: 0.4rem solid #d35122;
}

#header .logo {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

#header .menu {
  list-style-type: none;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

#header .menu li {
  display: inline-block;
  margin: 0 1.9rem;
}

#header .menu li a {
  text-decoration: none;
  color: white;
}

/* main section style */

#main {
  background: url(./backDrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8rem;
  height: 100vh;
  position: relative;
  color: #fff
}
#main .container {
  text-align: center;
}

#main #filter{
  position: absolute;
  top:0;
  left:0;
  background: rgba(95, 158, 160, 0.404);
  height: 100vh;
  width: 100vw;
}

#main .container p{
  position: relative;
  z-index: 1;
}

#main .container p.first_child {
  font-size: 4.5rem;
  margin-bottom: 4rem;
}

#main .container p:last-child {
  font-size: 2rem;
}
